body {
	/*padding-top: 20px;*/
	margin: 0px;
	padding: 0px;
	/*BACKGROUND COLOR*/
	background-color: #FFF8F4;
	/*border: solid;
	border-color: blue;*/
	/*overflow: scroll;*/
}


/*FOR TESTING PURPOSES*/
/*div {
	border: solid;
	clear:both;
}

ul {
	border: solid;
}

li {
	border: solid;
}
a {
	border: solid;
}*/
/* NAV BAR CSS*/

/*HEADER*/
.header {
	position: fixed;
	width: 100%;
	padding-top: 0px;
	top: 0;
	height: 62px;
	/*padding-bottom: 0px;*/
	margin: auto;
	/*BACKGROUND COLOR*/
	background-color: #FFFFFF;
	/*SHADOW*/
	box-shadow: 0px 5px 5px #888888;
}

/*HEADER UL*/
#header-bar ul {
	/*border: solid;
	border-color: red;*/
	list-style-type: none;
	margin: auto;
    overflow: auto;
    padding-left: 0px;

}

#header-bar li {
	height: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}
/*END OF HEADER*/

#nav-bar {
	width: 100%;
}
/*THE CONTAINER OF THE NODES BARS IN NAVBAR*/
#nav-bar ul {
	list-style-type: none;
    /*margin: auto;*/
    /*margin-left: auto;*/
    overflow: hidden;
    /*  padding-right: 25%;
    padding-left: 25%;*/
}

/*THE BARS IN NAVBAR*/
#nav-bar li {
	/*DISPLAY*/
	/*display: block;*/
	/*BACKGROUND COLOR*/
	/*background-color: #FFFBFA;*/
	/*BORDER*/
	/* TO PREVENT SCROLLING IN THE DIV */
	/*overflow-y: hidden;*/  /*hide vertical*/
	/*overflow-x: hidden;*/ /*hide horizontal*/
}

/*THE MAIN NAVBAR*/
.mainNav-bar {
	/*position: fixed;*/
	/*overflow: hidden;*/
	/*FOR THE FIXED HEADER BAR*/
	margin-top: 30px;
	width: 100%;
	padding-top: 10px;

}

/*THE LINKS & TEXT FOR THE BARS IN NAVBAR*/
/*#nav-bar a:link, #nav-bar a:visited {
    display: block;
  	width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 75px;
    color: black;*/
    /*background-color: #D20117;*/
    /*text-align: left;*/
   /* padding-left: 50px;*/
    /*text-decoration: none;
    text-transform: uppercase;
}*/

/*End Of Nav Bar CSS*/

/*CSS FOR THE CATEGORIES IN THE NAV BAR*/
.category-holder {
	/*MARGIN*/
	margin: auto;
	width: 626px;
	/*PADDING*/
	padding: 10px;
	/*OVERFLOW*/
	overflow: hidden;
	/*MARGIN*/
	margin-top: 7px;
	margin-bottom: 7px;
	/*BACKGROUN COLOR*/
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0px 0px 5px #888888;
}

.category-shadow {
	box-shadow: 0px 0px 10px #888888;
}

/*The heading for the category box*/
.info-heading {
	width: 40%;
	margin: 0px;
	float: left;
}

.info-heading h2 {
	font-size: 30px;
	margin: 5px;
}
/*When the user clicks the link or when the link was visited*/
.info-heading a:link, .info-heading a:visited {
	display:  block;
	width: 100%;
	height: 100%;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

.info-heading a:hover {
	/*Transition CSS*/
	/*Turns text blue at a rate of 1s*/
	color: blue;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
    /*Text Decoration*/
    text-decoration: underline;

}
/*The informational text of the category*/
.info-text  {
	float: right;
	width: 60%;
}
/*The image in the category*/
.info-image {
	float: left;
}
/*END OF THE CATEGORIES IN THE NAV BAR CSS*/