body {
    /*background: #ccc;*/
    margin: 0px;
    padding: 0px;
}

/*FOR TESTING PURPOSES*/
div {
    border: solid;
    clear:both;
}

ul {
    border: solid;
}

li {
    border: solid;
}
a {
    border: solid;
}

/*HEADER*/
.header {
    position: fixed;
    width: 100%;
    padding-top: 0px;
    margin-left: 0px;
    top: 0;
    /*padding-bottom: 0px;*/
    margin: auto
    border: solid;
    border-color: red;
    background-color: blue
}

/*HEADER UL*/
#header-bar ul {
    /*border: solid;
    border-color: red;*/
    list-style-type: none;
    margin: auto;
    overflow: auto;
    padding-left: 0px;

}

#header-bar li {
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*END OF HEADER*/

/*CAREER HOLDER*/
.career-holder {
    background-color: green; /* for vizualization purposes */
    text-align: center;
}
/*TEXT HOLDER*/
.text-holder {
    background-color: red; /* for vizualization purposes */
    display: inline-block;
    padding: 10px;
}

/*TEXT HOLDER HEADER*/
.text-holder h3 {
    text-align: left;
}
/*TEXT HOLDER PARAGRAPH POSITIONING EDIT HOW <p> should look like*/
.text-holder p {
    width: 500px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-height:200px;
    overflow: hidden;
}
.more-info-text {
    text-align: left;
}
/*TEXT HOLDER PARAGRAPH FONTS: EDIT: TEXT DESGIN*/
.text-paragraph {
    text-align: left;
    text-overflow: ellipsis;
    /*content: "";*/
    /*background: -webkit-linear-gradient(#000, #fff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;*/
}
/*END OF TEXT HOLDER*/
